<div>
  <h2 id="page-heading" data-cy="TrainingRegisterHeading">
    <span>Training Registers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-training-register"
        [routerLink]="['/training-register/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Training Register </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trainingRegisters?.length === 0">
    <span>No trainingRegisters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trainingRegisters && trainingRegisters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>User Attendance</span></th>
          <th scope="col"><span>Cerificate</span></th>
          <th scope="col"><span>Training</span></th>
          <th scope="col"><span>User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trainingRegister of trainingRegisters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/training-register', trainingRegister.id, 'view']">{{ trainingRegister.id }}</a>
          </td>
          <td>{{ trainingRegister.userAttendance }}</td>
          <td>{{ trainingRegister.cerificate }}</td>
          <td>
            <div *ngIf="trainingRegister.training">
              <a [routerLink]="['/training', trainingRegister.training?.id, 'view']">{{ trainingRegister.training?.id }}</a>
            </div>
          </td>
          <td>
            {{ trainingRegister.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/training-register', trainingRegister.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/training-register', trainingRegister.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(trainingRegister)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
