<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-training-heading" data-cy="TrainingCreateUpdateHeading">Create or edit a Training</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingName">Training Name</label>
          <input
            type="text"
            class="form-control"
            name="trainingName"
            id="field_trainingName"
            data-cy="trainingName"
            formControlName="trainingName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingMode">Training Mode</label>
          <input
            type="text"
            class="form-control"
            name="trainingMode"
            id="field_trainingMode"
            data-cy="trainingMode"
            formControlName="trainingMode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingType">Training Type</label>
          <input
            type="text"
            class="form-control"
            name="trainingType"
            id="field_trainingType"
            data-cy="trainingType"
            formControlName="trainingType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingStartDate">Training Start Date</label>
          <div class="input-group">
            <input
              id="field_trainingStartDate"
              data-cy="trainingStartDate"
              type="text"
              class="form-control"
              name="trainingStartDate"
              ngbDatepicker
              #trainingStartDateDp="ngbDatepicker"
              formControlName="trainingStartDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="trainingStartDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_traingEndDate">Traing End Date</label>
          <div class="input-group">
            <input
              id="field_traingEndDate"
              data-cy="traingEndDate"
              type="text"
              class="form-control"
              name="traingEndDate"
              ngbDatepicker
              #traingEndDateDp="ngbDatepicker"
              formControlName="traingEndDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="traingEndDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingYear">Training Year</label>
          <input
            type="text"
            class="form-control"
            name="trainingYear"
            id="field_trainingYear"
            data-cy="trainingYear"
            formControlName="trainingYear"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_trainingRegistration">Training Registration</label>
          <input
            type="checkbox"
            class="form-check"
            name="trainingRegistration"
            id="field_trainingRegistration"
            data-cy="trainingRegistration"
            formControlName="trainingRegistration"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
