<div>
  <h2 id="page-heading" data-cy="UserDetailsHeading">
    <span>User Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-details"
        [routerLink]="['/user-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new User Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userDetails?.length === 0">
    <span>No userDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userDetails && userDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Designation</span></th>
          <th scope="col"><span>Caste</span></th>
          <th scope="col"><span>Address</span></th>
          <th scope="col"><span>Department</span></th>
          <th scope="col"><span>Discipline</span></th>
          <th scope="col"><span>State</span></th>
          <th scope="col"><span>Bank Account</span></th>
          <th scope="col"><span>Ifsc Code</span></th>
          <th scope="col"><span>User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userDetails of userDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-details', userDetails.id, 'view']">{{ userDetails.id }}</a>
          </td>
          <td>{{ userDetails.designation }}</td>
          <td>{{ userDetails.caste }}</td>
          <td>{{ userDetails.address }}</td>
          <td>{{ userDetails.department }}</td>
          <td>{{ userDetails.discipline }}</td>
          <td>{{ userDetails.state }}</td>
          <td>{{ userDetails.bankAccount }}</td>
          <td>{{ userDetails.ifscCode }}</td>
          <td>
            {{ userDetails.user?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-details', userDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-details', userDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(userDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
